.topbox {
    float: left;
    height: 71px;
    margin: 0 0 0 200px;
    padding: 0;
	width: 960px;
}


.name {
    background-color: #4aaaa5;
	float: left;
    height: 61px;
    margin: 0;
    padding: 10px 0 0 0;
    position: absolute;
    text-align: center;
    width: 275px;   
}

.style {
    margin: 0;
}

.navstyle {
    float: right;
    height: 71px;
    position: relative;
}


.greyline {
    background-color: grey;
    display: block;
    height: 2px;
    margin: 0;
    width: 100%;
}


.pagecolor {
    background: url(../../dust_scratches.png);
    height: auto;
	padding: 55px 0 0 0;
    width: 100%;	
}


.biosection {
	background-color:white;
	height: 500px;
    margin: 0 0 0 200px;
    padding: 0 20px;
    position: relative;
    width: 960px;
}


.indentaboutme {
    margin: 10px 0 10px 50px;
}


.myimage { 
    border: 2px solid black;
	float: left;
	height: auto;
	position: relative;
	transform: rotate(90deg);
    width: 200px;
}


.line2 {  
    background-color: grey;
    display: block;
	height: 2px;
	margin: 0 10px;
    width: 940px;  
}


.thirdblock {
    position: relative;
    margin: 0;
}


.line3 {
    position: fixed;
    bottom: 50px;
    background-color: #4aaaa5;
    display: block;
	font-size: 0px;
    height: 5px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    border-width: 0;
    width: 100%;   
}


.copyrightblock {
    position: fixed;
    bottom: 0;
	background-color: grey;
    display: block;
    height: 50px;
    margin: 0;
	text-align: center;
    width: 100%;
}


.copyrighttxt {
    background-color: grey;
    color: white;
    display: block; 
    height: auto;
    margin: 0 0 0 200px;
	position: relative;
    text-align: center;
	width: 960px;
}


